

body{
    background-color: #006a4e;


    top: 0;
    bottom: 0;
}

h1{
    margin-block-start: 0;
}

.background-container{

}

.header{
    color: aliceblue;
    text-align: center;
    font-family: 'Goldman';
    padding-top: 1em;
    padding-bottom: 2em;
}

.footer{
    font-family: 'Goldman';
    text-align: center;
    bottom: 0;
    position: absolute;
    margin-left: 34%;
    color: lightgray;



}