
html{
    
}

body{
    background-color: #35654d;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

.background-container{

    height: 95vh;
    margin: 2vh;
}

.header{
    color: aliceblue;
    text-align: center;
    font-family: 'Goldman';
}

.footer{
    font-family: 'Goldman';
    text-align: center;
    bottom: 0;
    position: absolute;
    left: 40vw;
    color: lightgray;


    padding-top: 1vh;
}