
.main-container{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    align-items: center;
}

.hand-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2rem;
    height: 18rem;
    width: 20rem;

}

#dealer{
    

    border-radius: 96% 4% 96% 4% / 4% 93% 7% 8%;
    width: 60vw;
    background-image: linear-gradient(to right top, #006a4e, #006d4e, #00704e, #00724e, #00754e, #00754e, #00754e, #00754e, #00724e, #00704e, #006d4e, #006a4e);
}

#player{
    width: 60vw;
    border-radius: 4% 93% 7% 8%/96% 4% 96% 4%;
    background-image: linear-gradient(to right top, #006a4e, #006d4e, #00704e, #00724e, #00754e, #00754e, #00754e, #00754e, #00724e, #00704e, #006d4e, #006a4e);
}

.cards{
    display: flex;
    flex-direction: row;
}

h4{

}


.sumAndDraw{
    display: flex;
    flex-direction: column;

    align-items: center;

}

.sum{

}
.drawButton{
    font-family: "Goldman";
    float: right;
    position: inherit;
    bottom: 0;    
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.drawButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.drawButton:active::before{
    background-color: transparent;
}

.drawButton:hover:before{
    opacity: 1;
}

@keyframes glowing{
    0% {background-position: 0 0;}
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.drawButton::after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.summerizer-hidden{
    font-size: large;
    top: 0;
    position: inherit;
    opacity: 0;

}
.summerizer{
    font-size: large;
    top: 0;
    position: inherit;
    opacity: 1;

}
