.landingpage{
    font-size: 16px;
    color: aliceblue;
    margin: 0;
    padding:0;

}

.title{
    text-align: center;
    font-weight: lighter;
    font-size: 50px;
}

.introductionHeader{
    font-size: 1.5rem;
    margin: 50px;
    font-weight: normal;
    text-align: center;
    border-bottom: 2px inset rgb(56, 53, 53) ;
    padding-bottom: 10px;

}

.main{
    margin-left: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid red;

}

.informationContainer{
    display: flex;
    padding: 1rem;

}

.information{
    background-color: #E8F3F5;
    color: #00301A;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
   
}

#infoSvenn{
    border-radius: 10% 40% /50% 20%;
    padding: 20px;
}

#infoEskil{
    border-radius: 50% 20% / 10% 40%;
    padding-left: 20px;
    padding-top: 20px;
}

.informationHeader{
    font-size: 1.2rem;

}

.informationText{
    font-size: 0.9rem;

}

